<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>作业提交</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>作业提交</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>

    <!--    <el-upload action="/files/upload" :on-success="successUpload" :show-file-list="false" style="display: inline-block">-->
    <!--        <el-button size='small' type="primary">导入</el-button>-->
    <!--    </el-upload>-->
    <!--    <el-button size='small' @click="exp" type="primary"  style="margin: 10px 0">导出</el-button>-->
    <el-table :data="homeworks" border stripe style="width: 100%">
        <!--        <el-table-column prop="id" label="ID" width="100"> </el-table-column>-->
        <el-table-column prop="courseid" label="课程编号" sortable></el-table-column>
        <el-table-column prop="coursename" label="课程名称"></el-table-column>
        <el-table-column prop="deadline" label="最后期限"></el-table-column>
<!--        <el-table-column prop="state" label="提交状态"></el-table-column>-->
        <el-table-column prop="demand" label="作业要求"></el-table-column>
        <el-table-column label="下载附件">
            <template slot-scope="scope">
                <el-button type="" size="mini" @click="req(scope.row)">下载附件</el-button>
            </template>
        </el-table-column>
        <!--        <el-table-column prop="password" label="密码"></el-table-column>-->
        <!--        <el-table-column prop="photo" label="照片"></el-table-column>-->


        <el-table-column
                fixed="right"
                label="操作"
                width="200">
            <template slot-scope="scope">
                <el-button type="primary"   size='small' @click="edit(scope.row)">作业提交</el-button>
                <!--<el-popconfirm
                        @onConfirm="del(scope.row.id)"
                        title="确定删除？"
                >
                    <el-button size='small' type="danger" icon="el-icon-delete" circle slot="reference"
                               style="margin-left: 10px"></el-button>-->
                </el-popconfirm>
            </template>
        </el-table-column>
    </el-table>


    <el-dialog title="提交作业" :visible.sync="dialogFormVisible" width="40%"
               :close-on-click-modal="false">
        <el-form :model="entity">
            <el-form-item label="课程编号" label-width="120px ">
                <el-input type="textarea" v-model="entity.courseid" autocomplete="off" style="width: 80%" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="作业内容" label-width="120px">
                <el-input type="textarea" v-model="entity.content" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>

            <el-form-item label="上传附件" label-width="120px">
                <el-upload
                        accept=".jpg,.jpeg,.png,.gif,.txt,.pdf,.JPG,.JPEG,.PBG,.GIF,.BMP,.PDF"
                        class="upload-demo"
                        action="http://localhost:9998/upload"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        multiple
                        :limit="3"
                        :on-exceed="handleExceed"
                        :on-success="onSuccessUpload"
                        :file-list="entity.attachment">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">上传课程作业相关附件</div>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">提 交</el-button>
        </div>
    </el-dialog>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>


<script>

    let urlBase = "/api/homework/";
    new Vue({
        el: "#wrapper",
        data: {
            homeworks: '',
            form: {
                course: '',
                username: '',
                deadline: '',
                studentid: '',
                name: ''
            },
            fileList: [{
                name: 'food.jpeg',
                url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
            }, {
                name: 'food2.jpeg',
                url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
            }],
            options: [],
            fileList: [],
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
            search: '',
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.loadTable();
            this.getCourses(this.user.username);
        },
        methods: {
            req(obj) {
                // this.$router.push({path:'http://localhost:9998/download?downfile=git.txt'})
                var url = "http://localhost:9998/download?downfile=" + obj.files;
                window.open(url, "_self");

            },
            getCourses(studentId) {
                $.get("/api/select/homeworks/" + studentId).then(res => {
                    if (res.code === '0') {

                        this.homeworks = res.data

                    }
                })
            },
            onSuccessUpload(res, file, fileList) {
                this.entity.attachment = file.name;
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                // this.leave.attachment=file.name;
                console.log(file.name)
                return file.name;
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            fileSuccessUpload(res) {
                this.entity.file = "http://localhost:9999/files/" + res.data;
                this.entity.img = "http://localhost:9999/files/" + res.data;
                console.log(res)
            },
            successUpload(value) {
                $.get("/api/teachers/upload/" + value.data).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "导入成功",
                            type: "success"
                        });
                        this.loadTable()
                    }
                })
            },
            changeState(obj, state) {  // 审核
                this.entity = JSON.parse(JSON.stringify(obj));
                this.entity.state = state;
                this.save();
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            loadTable() {
                $.get(urlBase + "/page?pageNum=" + this.pageNum + "&pageSize=" + this.pageSize + "&name=" + this.search).then(res => {
                    this.tableData = res.data.records;
                    this.total = res.data.total;
                })

                // $.get("/api/").then(res => {
                // this.options = res.data;
                // })
            },
            exp() {   // excel 导出
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            add() {
                this.entity = {};
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            save() {
                // let type = this.entity.id ? "PUT" : "POST";
                $.ajax({

                    url: "/api/homework/commit",
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.loadTable();
                    this.dialogFormVisible = false;
                })
            },
            edit(obj) {
                this.entity.studentid = this.user.username;
                this.entity.courseid = JSON.parse(JSON.stringify(obj)).courseid;
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            del(id) {
                $.ajax({
                    url: urlBase + id,
                    type: "delete"
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>
</body>
</html>
