<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
        <title>个人信息</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>个人信息</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>
    <!--是学生-->
    <el-form ref="form" :model="info" label-width="80px" v-if="this.user.role[0]===3">
        <el-form-item label="学号">
            <el-input v-model="info.studentid" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="info.name" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-input v-model="info.sex" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="年龄">
            <el-input v-model="info.age" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="班级编号">
            <el-input v-model="info.classe" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="专业名称">
            <el-input v-model="info.major" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="院系名称">
            <el-input v-model="info.depart" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
            <el-input v-model="info.email" ></el-input>
        </el-form-item>
        <el-form-item label="联系方式">
            <el-input v-model="info.phone" ></el-input>
        </el-form-item>
        <el-form-item label="入学时间">
            <el-input v-model="info.starttime" :disabled="true"></el-input>
        </el-form-item>
    </el-form>
    <!--是老师-->
    <el-form ref="form" :model="info" label-width="80px" v-if="this.user.role[0]===1">
        <el-form-item label="教师编号">
            <el-input v-model="info.teacherid" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="info.name" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-input v-model="info.sex" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="年龄">
            <el-input v-model="info.age" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="职称">
            <el-input v-model="info.job" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
            <el-input v-model="info.email" :disabled="false"></el-input>
        </el-form-item>
        <el-form-item label="联系方式">
            <el-input v-model="info.phone" :disabled="false"></el-input>
        </el-form-item>
    </el-form>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>


<script>

    let urlBase = "/api/homework/";
    new Vue({
        el: "#wrapper",
        data: {
            user:'',
            info:'',
            form: {
                studentid:'',
                name:'',
                classe:'',
                phone:'',
                sex:'',
                age:'',
                depart:'',
                major:'',
                email:'',
                starttime:'',
                search: ''
            },
            role:'',
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.loadTable();

            //根据username获取对应个人信息
            this.getInfo(this.user.username);
        },
        methods: {
            getInfo(username){
                if(this.user.role[0] === 1){
                    $.get("/api/teachers/tea?id=" + username).then(res => {
                        if (res.code === '0') {
                            this.info = res.data[0];
                        }
                    })
                }else if(this.user.role[0] ===3){
                    $.get("/api/students/stu?id=" + username).then(res => {
                        if (res.code === '0') {
                            this.info = res.data[0];
                        }
                    })
                }

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            onSubmit() {
                console.log('submit!');
            },
            fileSuccessUpload(res) {
                this.entity.file = "http://localhost:9999/files/" + res.data;
                this.entity.img = "http://localhost:9999/files/" + res.data;
                console.log(res)
            },
            successUpload(value) {
                $.get("/api/homework/upload/" + value.data).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "导入成功",
                            type: "success"
                        });
                        this.loadTable()
                    }
                })
            },
            changeState(obj, state) {  // 审核
                this.entity = JSON.parse(JSON.stringify(obj));
                this.entity.state = state;
                this.save();
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            loadTable() {
                $.get(urlBase + "/page").then(res => {
                    this.tableData = res.data.records;
                    this.total = res.data.total;
                })

                // $.get("/api/").then(res => {
                // this.options = res.data;
                // })
            },
            exp() {   // excel 导出
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            add() {
                this.entity = {};
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            save() {
                let type = this.entity.id ? "PUT" : "POST";
                $.ajax({
                    url: urlBase,
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.loadTable();
                    this.dialogFormVisible = false;
                })
            },
            edit(obj) {
                this.entity = JSON.parse(JSON.stringify(obj));
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            del(id) {
                $.ajax({
                    url: urlBase + id,
                    type: "delete"
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>
</body>
</html>
